<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.submit %>
<% end %>
<br>
<%= button_to "List Artist", artists_path, html_options = { :method => :get} %>
